.btn{
    display: flex;
    justify-content: end;
    gap: 1rem;
    margin-top: 4rem;

    & button{
        font: 500 1rem/1.50 var(--font-family);
        padding: .75rem 1.5rem;
        border-radius: .5rem;
        cursor: pointer;
    }

    & .btn-primary button{
        border: 1px solid var(--text-highlight);
        color: var(--text-highlight);
    }

    & .btn-primary button:hover, &:focus{
        color: #E43A12;
        outline: .25rem solid var(--surface-secondary);
    }


    & .btn-secondary button{
        background-color: #E43A12;
        border: none;
        color: var(--surface-primary);
    }

    & .btn-secondary button:hover, &:focus{
        background-color: var(--stroke-highlight);
    }
}