*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    overflow: hidden;
}

h1{
    font: var(--h1);
    color: var(--text-primary);
}
h2{
    font: var(--h2);
    color: var(--text-primary);
}
.text-hd-p{
    font: var(--header-p);
    color: var(--text-secondary);
}
img{
    max-width: 100%;
}

legend{
    font: var(--legend);
    color: --text-primary;
}