#app{
    display: grid;
    grid-template-columns: 51.25% 48.75%;

    height: 100dvh;
    overflow: hidden;
}
main{
    overflow: auto;
    padding: 4rem;
    margin-left: auto;
}

main header{
    max-width: 33rem;
    margin-bottom: 3rem;
}
main h2{
    margin-bottom: .5rem;
}
.back{
    display: flex;
    max-width: 33rem;
    align-items: center;
    gap: .5rem;
    margin-bottom: 1.5rem;
}
aside{
    background-color: var(--surface-secondary);
    padding: 4rem;
}
aside header{
    max-width: 31rem;
}
aside h1{
    padding-block: 0.5rem;
    & strong{
        color: var(--text-highlight);
    }
}
aside p{
    margin-bottom: 2rem;
}